@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-[#000000] text-gray-300 antialiased;
    }
}

.glass {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-gray-400 to-gray-600;
}